/* universal styles and setup */
:root {
    --primary-color: #1A73E8;
    --accent-color: #3498db;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
}

section {
    padding: 6rem 0;
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1, h2, h3 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3.2rem;
}

/* Header and navigation */
.main-header {
    height: 7rem;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2rem;
}

.main-nav a {
    color: white;
    margin-right: 2rem;
    font-size: 1.8rem;
    display:inline-block;
    transition:transform 0.2s ease-in-out;
}

.main-nav a:hover {
    color: var(--accent-color);
    transform:scale(0.9);
}

/* Hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3rem;
}

.hero-content h1 {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 0;
}

.hero-content .animated-text {
    font-size: 6rem;
    color: var(--accent-color);
    animation: color-change 1s infinite alternate;
}

@keyframes color-change {
    0% { color: var(--accent-color); }
    25% { color:rgb(red, green, blue)}
    50% { color: var(--primary-color); }
    75% { color: purple}
    100% { color: #8e44ad; }
}

.profile-image-container {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow:0 0 1rem var(--accent-color);
    border: 0.3rem solid var(--accent-color);
    transition: transform 0.5s ease;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-container:hover {
    transform: scale(1.05) rotate(5deg);
}

/* Skills section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}

.skill {
    background-color: var(--primary-color);
    color: white;
    margin: 1rem;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    transition: all 0.3s ease;
}

.skill:hover {
    transform:scale(0.9);
    box-shadow: 0 0rem 1.5rem var(--accent-color);
    cursor:crosshair;
}

/* Projects section */
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.project-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-height: 80%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    animation: fade-in 10s ease-in-out infinite;
}

.project-card img:nth-child(2) {
    animation-delay: 5s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}


.project-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    height: 50rem;
    overflow: hidden;
}


.project-card:hover {
    background-color: var(--background-color);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Contact form */
.contact-form {
    max-width: 50rem;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    box-shadow: 0 0 1rem var(--accent-color);
}

.form-group {
    margin-bottom: 2rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.contact-form textarea {
    resize: vertical;
    min-height: 10rem;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--accent-color);
}

/* Footer */
.main-footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
    display: block;
}

.main-footer a {
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.back-to-top{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    border-radius: 1.3rem;
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 100;
    box-shadow: 0 0 1rem var(--accent-color);
}

.back-to-top:hover {
    background-color: white;
    color: var(--primary-color);
}

.main-footer a:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Responsive design */

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }

    .hero-content {
        margin-bottom: 4rem;
    }

    .profile-image-container {
        width: 2rem;
        height: 2rem;
        margin-top: 3rem;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-content .animated-text {
        font-size: 5rem;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .main-header {
        padding: 0 2rem;
    }

    .main-nav a {
        margin-left: 1rem;
        font-size: 1.6rem;
    }

    .main-header {
        flex-direction: column;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .main-nav {
        margin-top: 1rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .main-footer {
        flex-direction: column;
        gap: 1rem;
    }
}
